{% extends './layout.html' %}
{% block content %}
  <ul class='nav nav-tabs' style='margin: 10px 0'>
        <li class='nav-item'>
          <a class='nav-link' href='/'>Home</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link active' href='/users'>Users</a>
        </li>
      </ul>
   <form action='/users' method='POST'>
      <div>
        <label>User Name</label>
        <input name="name"/>
      </div>
      <button class="btn btn-primary">Create User</button>
    </form>
    <ul>
    {% for user in users %}
      <li>
        {{ user.name }}
        <form method='POST' action='/users/{{user.id}}?_method=DELETE'>
          <button class="btn btn-danger">Delete</button>
        </form>
      </li>
    {% endfor %}
    </ul>
{% endblock %}


